html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-animation--bg {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -9000;
  animation: appear 1.7s ease-in;
}

@keyframes appear {
  0% {
    z-index: 9000;
  }
  50% {
    opacity: 1;
  }
  100% {
    z-index: -9000;
    opacity: 0;
  }
}
.home-animation {
  background-color: #f8f8f8;
  position: fixed;
  top: -1000px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  animation: slideDown 1.3s ease-in;
}

@keyframes slideDown {
  0% {
    transform: translateY(0px);
    opacity: 100%;
  }
  100% {
    transform: translateY(2000px);
    opacity: 50%;
  }
}
.top-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  height: 40px;
  width: 100%;
  padding: 0 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.top-bar .top-bar-info {
  display: flex;
  align-items: center;
}
.top-bar .top-bar-info:hover .top-bar__mail-underline {
  width: 100%;
}
.top-bar .top-bar-info .top-bar__mail {
  font-weight: 400;
  color: #000;
}
.top-bar .top-bar-info .top-bar__mail-underline {
  width: 0%;
  height: 1px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.top-bar .top-bar-info .top-bar__mail-logo {
  margin-left: 10px;
  margin-bottom: 2px;
  width: 18px;
  height: 14px;
  object-fit: cover;
}
.top-bar .top-bar__logo {
  font-weight: 700;
}
.top-bar .top-bar__logo:hover {
  color: #000;
}
.top-bar .top-bar__mail,
.top-bar .top-bar__logo {
  font-size: 14px;
  letter-spacing: 3px;
}

.side-bar-left {
  position: fixed;
  left: 0;
  z-index: 10;
  display: flex;
  height: calc(100vh - 40px);
  width: 40px;
  display: flex;
  align-items: center;
  background-color: white;
}

.side-bar-right {
  position: fixed;
  right: 0;
  z-index: 10;
  height: calc(100vh - 40px);
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.side-bar-right .logo-social {
  margin-top: 10px;
  width: 25px;
  height: 25px;
}
.side-bar-right .logo-social-linkedin {
  width: 30px;
  height: 30px;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.main-container {
  background-color: #f8f8f8;
  display: block;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
}
.main-container .Tilt {
  transform-style: preserve-3d;
}
.main-container .home-hero {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .home-hero p {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 64px;
  color: #000;
  z-index: 2;
}
.main-container .home-hero .home-hero__circle {
  position: absolute;
  min-height: 80px;
  min-width: 80px;
  background: #000;
  border-radius: 50%;
  z-index: -1;
}
.main-container .home-hero .home-hero__circle--1 {
  background: #0061f3;
  top: 80%;
  left: 30%;
  height: 120px;
  width: 120px;
  transform: translateZ(-40px);
  animation: fadeInTop 1s ease-in;
  animation-delay: 1s;
}
.main-container .home-hero .home-hero__circle--2 {
  background: rgba(0, 97, 243, 0.7);
  top: 5%;
  left: 40%;
  transform: translateZ(40px);
  animation: fadeInBottom 0.7s ease-in;
  animation-delay: 1s;
}
.main-container .home-hero .home-hero__circle--3 {
  background: #00f3d2;
  top: 40%;
  right: 8%;
  height: 230px;
  width: 230px;
  transform: translateZ(70px);
  animation: fadeInTop2 0.8s ease-in;
  animation-delay: 1s;
}
.main-container .home-hero .home-hero__circle--4 {
  background: rgba(0, 243, 210, 0.5);
  top: 15%;
  left: 0%;
  width: 140px;
  height: 140px;
  transform: translateZ(25px);
  animation: fadeInBottom2 0.7s ease-in;
  animation-delay: 1s;
}
@media (max-width: 991px) {
  .main-container .home-hero .home-hero__circle--1,
.main-container .home-hero .home-hero__circle--2,
.main-container .home-hero .home-hero__circle--3,
.main-container .home-hero .home-hero__circle--4 {
    transform: none;
  }
}
.main-container .home-hero .home-hero__scroll {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0;
}

@keyframes fadeInTop {
  0% {
    top: 0;
  }
  100% {
    top: 80%;
  }
}
@keyframes fadeInTop2 {
  0% {
    top: 100%;
  }
  100% {
    top: 40%;
  }
}
@keyframes fadeInBottom {
  0% {
    top: 100%;
  }
  100% {
    top: 5%;
  }
}
@keyframes fadeInBottom2 {
  0% {
    top: 100%;
  }
  100% {
    top: 15%;
  }
}
.main-container--project {
  margin-top: 0;
}

.section {
  display: block;
  max-width: 1140px;
  padding: 80px 0;
  margin-right: auto;
  margin-left: auto;
}
.section #section-about,
.section #section-skill,
.section #section-work,
.section #section-company,
.section #section-legal {
  margin-bottom: 32px;
}
.section .section-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
}
.section .about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.section .about-container .about-img-container {
  width: 50%;
  margin-top: 84px;
  margin-right: 56px;
  flex: 0 auto;
}
.section .about-container .about-img-container img {
  border: 0;
  min-width: 90%;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
@media (max-width: 991px) {
  .section .about-container .about-img-container {
    margin-top: 0;
    width: 50%;
  }
}
.section .about-container .about-content {
  width: 50%;
}
.section .about-container .about-content .p-large {
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
}
.section .about-container .about-content .p-large .text-span-24 {
  font-weight: 500;
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .section .about-container .about-content .p-large {
    font-size: 20px;
    line-height: 36px;
  }
}
@media (max-width: 991px) {
  .section .about-container .about-content .p-large {
    font-size: 20px;
    line-height: 36px;
  }
}
@media (max-width: 991px) {
  .section .about-container .about-content {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .section .about-container {
    flex-direction: column;
  }
}

@media (max-width: 991px) {
  .section {
    padding: 65px 0;
  }
}
.section--mobile {
  padding-bottom: 0px;
}

.section--mobileTop {
  padding-top: 0px;
}

.main-headline {
  margin-bottom: 32px;
  margin-left: -45px;
}
.main-headline .main-headline__headline {
  display: block;
  color: #000;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .main-headline .main-headline__headline {
    font-size: 40px;
    line-height: 56px;
  }
  .main-headline .main-headline__headline--small {
    font-size: 36px !important;
    line-height: 50px;
  }
}
@media (max-width: 991px) {
  .main-headline .main-headline__headline {
    font-size: 29px;
    line-height: 38px;
  }
  .main-headline .main-headline__headline--small {
    font-size: 26px !important;
    line-height: 32px;
  }
}
.main-headline .main-headline__headline--right-aligned {
  text-align: end;
}
.main-headline .main-headline__headline--small {
  font-size: 42px;
}
.main-headline .main-headline__separator {
  display: block;
  width: 70px;
  height: 5px;
  background: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
  margin-top: 15px;
}

@media (max-width: 991px) {
  .main-headline--offset {
    margin-top: -312px;
    margin-bottom: 145px;
    margin-left: 44%;
  }
}
.main-headline--center {
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}

.main-headline--left {
  margin-left: 0;
}

.main-headline__separator--center {
  margin-right: auto;
  margin-left: auto;
}

.main-headline__separator--right {
  margin-left: calc(100% - 70px);
}

.separator-dashes {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
}
.separator-dashes .separator-dash-line {
  width: 15px;
  height: 1px;
  margin-left: -4px;
  background-image: linear-gradient(180deg, #000, #000);
  transform: rotate(-45deg);
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  flex: 1;
  margin: 40px 0;
  padding: 0 80px;
}
.skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: white;
  max-width: 300px;
  min-width: 250px;
  margin: 16px;
  padding: 32px 0;
}
.skills .skill .skill-img {
  position: relative;
  width: 140px;
  height: 140px;
  margin-bottom: 16px;
}
.skills .skill .skill-img img {
  object-fit: cover;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.skills .skill .skill-title {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.skills .skill .skill-separator {
  display: block;
  width: 50px;
  height: 1px;
  background: #000;
  margin-bottom: 20px;
}
.skills .skill .skill-bullet {
  margin-bottom: 8px;
  margin-top: 0;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
}

.case-container {
  display: flex;
  justify-content: space-around;
}
.case-container .case-container-content {
  position: relative;
  width: 40%;
  margin-right: -80px;
  margin-left: 0;
  align-items: flex-end;
  flex: 0 auto;
}
.case-container .case-container-content .light-header {
  text-align: right;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .case-container .case-container-content .light-header {
    font-size: 10px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 3px;
  }
}
.case-container .case-container-content .light-header--left {
  text-align: left;
}
@media (max-width: 991px) {
  .case-container .case-container-content {
    margin-left: -20px;
  }
}
.case-container .case-container-img {
  position: relative;
  width: 65%;
  height: 85%;
  max-width: 150%;
  margin-left: 5%;
}
.case-container .case-container-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .case-container .case-container-img:nth-child(2n+1) {
    left: -7%;
  }
  .case-container .case-container-img:nth-child(2n) {
    left: 7%;
  }
  .case-container .case-container-img {
    width: 60%;
  }
}
@media (max-width: 991px) {
  .case-container .case-container-img:nth-child(2n+1) {
    margin-left: -56px;
  }
  .case-container .case-container-img:nth-child(2n) {
    margin-left: 56px;
  }
  .case-container .case-container-img--right img {
    top: 15px;
    max-width: 170%;
    margin-left: 56px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
  }
  .case-container .case-container-img img {
    top: 15px;
  }
}
.case-container .btn-container {
  height: 49px;
  width: 185px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: calc(100% - 185px);
}
.case-container .btn-container:hover .btn-bg {
  width: 100%;
}
.case-container .btn-container:hover .btn-content {
  color: white;
}
.case-container .btn-container .btn-bg {
  position: static;
  width: 1px;
  height: 48px;
  background: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
  transition: width 150ms ease 0s;
}
.case-container .btn-container .btn-content {
  position: relative;
  top: -34px;
  width: 185px;
  padding: 13px 32px 12px;
  border: 2px solid #784cd6;
  border-image: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
  border-image-slice: 1;
  background-color: transparent;
  transition: color 0.2s ease;
  color: #000;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.case-container .btn-container--left {
  margin-right: calc(100% - 185px);
  margin-left: 0;
}

.contact-container {
  display: block;
  margin-bottom: 80px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.contact-container:hover .contact-email-underline {
  width: 100%;
}
.contact-container .p-contact {
  display: block;
  color: #000;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
.contact-container .contact-email-underline {
  width: 0;
  height: 4px;
  background-image: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
  text-align: left;
  transition: width 0.3s ease-in-out;
}

.p-center {
  display: block;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 40px;
}
.p-center p {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
}

.companies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  flex: 1;
  margin: 40px 0;
  padding: 0 80px;
}
.companies .company {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 200px;
  min-width: 150px;
  margin: 16px;
}
.companies .company img {
  filter: grayscale(0.9);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.companies .company img:hover {
  filter: grayscale(0);
  transition: filter 0.15s ease-in-out;
}

footer {
  display: flex;
  padding: 40px 0;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer a {
  text-decoration: underline;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
footer a:hover {
  color: #000;
}

.project-banner {
  position: relative;
  width: 100%;
  height: 500px;
}
.project-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-banner #fond-uchf {
  object-position: 0% 37%;
}
.project-banner #fond-multi {
  object-position: 0% 88%;
}
.project-banner #fond-vgb {
  object-position: 0% 6%;
}
.project-banner .project-title {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.project-banner .project-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  line-height: 60px;
  color: white;
  height: 100%;
  font-weight: 600;
}
.project-banner .project-title .text-center {
  text-align: center;
}

.project-container .project-information {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 1;
  padding: 20px 80px;
}
.project-container .project-information .project-information__content {
  height: 100%;
  min-width: 150px;
  max-width: 250px;
  margin: 10px 40px;
}
.project-container .project-information .project-information__content .project-information__container-header {
  overflow: hidden;
  height: 64px;
}
.project-container .project-information .project-information__content .project-information__container-header .project-information__header {
  font-size: 32px;
  display: block;
  color: #000;
  line-height: 64px;
  font-weight: 500;
}
.project-container .project-information .project-information__content .project-information__information {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.project-container .project-information .project-information__content .project-information__information img {
  width: 45px;
  height: 45px;
  padding: 5px;
}

.project-concept {
  display: flex;
}
.project-concept .project-concept__img {
  width: 50%;
  height: 85%;
  max-width: 150%;
}
.project-concept .project-concept__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 991px) {
  .project-concept .project-concept__img {
    width: 90%;
  }
}
.project-concept .project-concept__content {
  width: 50%;
  margin-left: 20px;
}
.project-concept .project-concept__content .project-concept__info {
  color: #000;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .project-concept .project-concept__content {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .project-concept {
    align-items: center;
    flex-direction: column;
  }
}
.project-concept--mobile {
  margin-top: 80px;
}
.project-concept--mobile .project-concept__img--mobile img {
  position: relative;
  top: -100px;
  width: 70%;
  margin-left: 20px;
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-img div:first-child {
  z-index: 10;
}
.project-img .project-img {
  position: relative;
  width: 80%;
  height: 500px;
  object-fit: cover;
  box-shadow: 40px 50px 30px rgba(0, 0, 0, 0.1);
}
.project-img .project-img--1 {
  left: 20%;
}
.project-img .project-img--2 {
  top: 80px;
  right: 50px;
  z-index: 1;
}

.p-legal {
  display: block;
  max-width: 660px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}
.p-legal strong {
  font-weight: 600;
  font-size: 21px;
}

.project-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.project-nav .project-nav__next {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.project-nav .project-nav__next:hover img {
  transform: translateX(13px) rotate(-90deg);
}
.project-nav .project-nav__next img {
  transform: rotate(-90deg);
  transition: 0.2s ease-in-out;
}
.project-nav .project-nav__prev:hover img {
  transform: translateX(-13px) rotate(90deg);
}
.project-nav .project-nav__prev img {
  transform: rotate(90deg);
  transition: 0.2s ease-in-out;
}
.project-nav .project-nav__prev img,
.project-nav .project-nav__next img {
  max-width: 30px;
  width: 100%;
}
.project-nav .project-nav__prev p,
.project-nav .project-nav__next p {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 0;
}

/*# sourceMappingURL=globals.css.map */
