html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home-animation--bg {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -9000;
  -webkit-animation: appear 1.7s ease-in;
          animation: appear 1.7s ease-in;
}

@-webkit-keyframes appear {
  0% {
    z-index: 9000;
  }
  50% {
    opacity: 1;
  }
  100% {
    z-index: -9000;
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    z-index: 9000;
  }
  50% {
    opacity: 1;
  }
  100% {
    z-index: -9000;
    opacity: 0;
  }
}
.home-animation {
  background-color: #f8f8f8;
  position: fixed;
  top: -1000px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  -webkit-animation: slideDown 1.3s ease-in;
          animation: slideDown 1.3s ease-in;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
    opacity: 50%;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px);
    opacity: 50%;
  }
}
.top-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  padding: 0 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.top-bar .top-bar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-bar .top-bar-info:hover .top-bar__mail-underline {
  width: 100%;
}
.top-bar .top-bar-info .top-bar__mail {
  font-weight: 400;
  color: #000;
}
.top-bar .top-bar-info .top-bar__mail-underline {
  width: 0%;
  height: 1px;
  background-color: #000;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
.top-bar .top-bar-info .top-bar__mail-logo {
  margin-left: 10px;
  margin-bottom: 2px;
  width: 18px;
  height: 14px;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-bar .top-bar__logo {
  font-weight: 700;
}
.top-bar .top-bar__logo:hover {
  color: #000;
}
.top-bar .top-bar__mail, .top-bar .top-bar__logo {
  font-size: 14px;
  letter-spacing: 3px;
}

.side-bar-left {
  position: fixed;
  left: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 40px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.side-bar-right {
  position: fixed;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}
.side-bar-right .logo-social {
  margin-top: 10px;
  width: 25px;
  height: 25px;
}
.side-bar-right .logo-social-linkedin {
  width: 30px;
  height: 30px;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.main-container {
  background-color: #f8f8f8;
  display: block;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
}
.main-container .Tilt {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.main-container .home-hero {
  position: relative;
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-container .home-hero p {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 64px;
  color: #000;
  z-index: 2;
}
.main-container .home-hero .home-hero__circle {
  position: absolute;
  min-height: 80px;
  min-width: 80px;
  background: #000;
  border-radius: 50%;
  z-index: -1;
}
.main-container .home-hero .home-hero__circle--1 {
  background: #0061f3;
  top: 80%;
  left: 30%;
  height: 120px;
  width: 120px;
  -webkit-transform: translateZ(-40px);
          transform: translateZ(-40px);
  -webkit-animation: fadeInTop 1s ease-in;
          animation: fadeInTop 1s ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main-container .home-hero .home-hero__circle--2 {
  background: rgba(0, 97, 243, 0.7);
  top: 5%;
  left: 40%;
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
  -webkit-animation: fadeInBottom 0.7s ease-in;
          animation: fadeInBottom 0.7s ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main-container .home-hero .home-hero__circle--3 {
  background: #00f3d2;
  top: 40%;
  right: 8%;
  height: 230px;
  width: 230px;
  -webkit-transform: translateZ(70px);
          transform: translateZ(70px);
  -webkit-animation: fadeInTop2 0.8s ease-in;
          animation: fadeInTop2 0.8s ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main-container .home-hero .home-hero__circle--4 {
  background: rgba(0, 243, 210, 0.5);
  top: 15%;
  left: 0%;
  width: 140px;
  height: 140px;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-animation: fadeInBottom2 0.7s ease-in;
          animation: fadeInBottom2 0.7s ease-in;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.main-container .home-hero .home-hero__scroll {
  position: absolute;
  width: 50px;
  height: 60px;
  bottom: 0;
}

@-webkit-keyframes fadeInTop {
  0% {
    top: 0;
  }
  100% {
    top: 80%;
  }
}

@keyframes fadeInTop {
  0% {
    top: 0;
  }
  100% {
    top: 80%;
  }
}
@-webkit-keyframes fadeInTop2 {
  0% {
    top: 100%;
  }
  100% {
    top: 40%;
  }
}
@keyframes fadeInTop2 {
  0% {
    top: 100%;
  }
  100% {
    top: 40%;
  }
}
@-webkit-keyframes fadeInBottom {
  0% {
    top: 100%;
  }
  100% {
    top: 5%;
  }
}
@keyframes fadeInBottom {
  0% {
    top: 100%;
  }
  100% {
    top: 5%;
  }
}
@-webkit-keyframes fadeInBottom2 {
  0% {
    top: 100%;
  }
  100% {
    top: 15%;
  }
}
@keyframes fadeInBottom2 {
  0% {
    top: 100%;
  }
  100% {
    top: 15%;
  }
}
.main-container--project {
  margin-top: 0;
}

.section {
  display: block;
  max-width: 1140px;
  padding: 80px 0;
  margin-right: auto;
  margin-left: auto;
}
.section #section-about, .section #section-skill, .section #section-work, .section #section-company, .section #section-legal {
  margin-bottom: 32px;
}
.section .section-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
}
.section .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.section .about-container .about-img-container {
  width: 40%;
  margin-top: 84px;
  margin-right: 56px;
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
}
.section .about-container .about-content {
  width: 60%;
}
.section .about-container .about-content .p-large {
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
}
.section .about-container .about-content .p-large .text-span-24 {
  font-weight: 500;
}

.section--mobile {
  padding-bottom: 0px;
}

.section--mobileTop {
  padding-top: 0px;
}

.main-headline {
  margin-bottom: 32px;
  margin-left: -45px;
}
.main-headline .main-headline__headline {
  display: block;
  color: #000;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
}
.main-headline .main-headline__headline--right-aligned {
  text-align: end;
}
.main-headline .main-headline__headline--small {
  font-size: 42px;
}
.main-headline .main-headline__separator {
  display: block;
  width: 70px;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#0061f3), to(#00f3d2));
  background: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
  margin-top: 15px;
}

.main-headline--center {
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}

.main-headline--left {
  margin-left: 0;
}

.main-headline__separator--center {
  margin-right: auto;
  margin-left: auto;
}

.main-headline__separator--right {
  margin-left: calc(100% - 70px);
}

.separator-dashes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
}
.separator-dashes .separator-dash-line {
  width: 15px;
  height: 1px;
  margin-left: -4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(180deg, #000, #000);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 40px 0;
  padding: 0 80px;
}
.skills .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  max-width: 300px;
  min-width: 250px;
  margin: 16px;
  padding: 32px 0;
}
.skills .skill .skill-img {
  position: relative;
  width: 140px;
  height: 140px;
  margin-bottom: 16px;
}
.skills .skill .skill-img img {
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.skills .skill .skill-title {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.skills .skill .skill-separator {
  display: block;
  width: 50px;
  height: 1px;
  background: #000;
  margin-bottom: 20px;
}
.skills .skill .skill-bullet {
  margin-bottom: 8px;
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
}

.case-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.case-container .case-container-content {
  position: relative;
  width: 40%;
  margin-right: -80px;
  margin-left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
}
.case-container .case-container-content .light-header {
  text-align: right;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.case-container .case-container-content .light-header--left {
  text-align: left;
}
.case-container .case-container-img {
  width: 65%;
  height: 85%;
  max-width: 150%;
  margin-left: 5%;
}
.case-container .case-container-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.case-container .btn-container {
  height: 49px;
  width: 185px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: calc(100% - 185px);
}
.case-container .btn-container:hover .btn-bg {
  width: 100%;
}
.case-container .btn-container:hover .btn-content {
  color: white;
}
.case-container .btn-container .btn-bg {
  position: static;
  width: 1px;
  height: 48px;
  background: -webkit-gradient(linear, left top, right top, from(#0061f3), to(#00f3d2));
  background: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
  -webkit-transition: width 150ms ease 0s;
  transition: width 150ms ease 0s;
}
.case-container .btn-container .btn-content {
  position: relative;
  top: -34px;
  width: 185px;
  padding: 13px 32px 12px;
  border: 2px solid #784cd6;
  -o-border-image: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(#0061f3), to(#00f3d2));
     border-image: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
  border-image-slice: 1;
  background-color: transparent;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #000;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.case-container .btn-container--left {
  margin-right: calc(100% - 185px);
  margin-left: 0;
}

.contact-container {
  display: block;
  margin-bottom: 80px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.contact-container:hover .contact-email-underline {
  width: 100%;
}
.contact-container .p-contact {
  display: block;
  color: #000;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}
.contact-container .contact-email-underline {
  width: 0;
  height: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#0061f3), to(#00f3d2));
  background-image: linear-gradient(90deg, #0061f3 0%, #00f3d2 100%);
  text-align: left;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.p-center {
  display: block;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 40px;
}
.p-center p {
  color: #000;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 40px 0;
  padding: 0 80px;
}
.companies .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 200px;
  min-width: 150px;
  margin: 16px;
}
.companies .company img {
  -webkit-filter: grayscale(0.9);
          filter: grayscale(0.9);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.companies .company img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: -webkit-filter 0.15s ease-in-out;
  transition: -webkit-filter 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out;
  transition: filter 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer a {
  text-decoration: underline;
  color: #000;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
footer a:hover {
  color: #000;
}

.project-banner {
  position: relative;
  width: 100%;
  height: 500px;
}
.project-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-banner #fond-uchf {
  -o-object-position: 0% 37%;
     object-position: 0% 37%;
}
.project-banner #fond-multi {
  -o-object-position: 0% 88%;
     object-position: 0% 88%;
}
.project-banner #fond-vgb {
  -o-object-position: 0% 6%;
     object-position: 0% 6%;
}
.project-banner .project-title {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.project-banner .project-title h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  color: white;
  height: calc(100% + 48px);
}
.project-banner .project-title .text-center {
  text-align: center;
}

.project-container .project-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 80px;
}
.project-container .project-information .project-information__content {
  height: 100%;
  min-width: 150px;
  max-width: 250px;
  margin: 10px 40px;
}
.project-container .project-information .project-information__content .project-information__header {
  font-size: 32px;
  display: block;
  color: #000;
  line-height: 64px;
  font-weight: 500;
}
.project-container .project-information .project-information__content .project-information__information {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.project-container .project-information .project-information__content .project-information__information img {
  width: 45px;
  height: 45px;
  padding: 5px;
}

.project-concept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-concept .project-concept__img {
  width: 50%;
  height: 85%;
  max-width: 150%;
}
.project-concept .project-concept__img img {
  width: 100%;
  height: 100%;
}
.project-concept .project-concept__content {
  width: 50%;
  margin-left: 20px;
}
.project-concept .project-concept__content .project-concept__info {
  color: #000;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}

.project-concept--mobile {
  margin-top: 80px;
}
.project-concept--mobile .project-concept__img--mobile img {
  position: relative;
  top: -100px;
  width: 70%;
  margin-left: 20px;
}

.project-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-img .project-img {
  position: relative;
  width: 40%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 40px 50px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 40px 50px 30px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.project-img .project-img--2 {
  top: 80px;
  right: 50px;
  z-index: 1;
}

.p-legal {
  display: block;
  max-width: 660px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}
.p-legal strong {
  font-weight: 600;
  font-size: 21px;
}

.project-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.project-nav .project-nav__next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.project-nav .project-nav__next:hover img {
  -webkit-transform: translateX(13px) rotate(-90deg);
          transform: translateX(13px) rotate(-90deg);
}
.project-nav .project-nav__next img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.project-nav .project-nav__prev:hover img {
  -webkit-transform: translateX(-13px) rotate(90deg);
          transform: translateX(-13px) rotate(90deg);
}
.project-nav .project-nav__prev img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.project-nav .project-nav__prev img, .project-nav .project-nav__next img {
  max-width: 30px;
  width: 100%;
}
.project-nav .project-nav__prev p, .project-nav .project-nav__next p {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 0;
}