html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.top-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  height: 40px;
  width: 100%;
  padding: 0 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  .top-bar-info {
    display: flex;
    align-items: center;
    &:hover .top-bar__mail-underline {
      width: 100%;
    }
    .top-bar__mail {
      font-weight: 400;
      color: #000;
    }
    .top-bar__mail-underline {
      width: 0%;
      height: 1px;
      background-color: #000;
      transition: width 0.2s ease-in-out;
    }
    .top-bar__mail-logo {
      margin-left: 10px;
      margin-bottom: 2px;
      width: 18px;
      height: 14px;
      object-fit: cover;
    }
  }
  .top-bar__logo {
    font-weight: 700;
    &:hover {
      color: #000;
    }
  }
  .top-bar__mail,
  .top-bar__logo {
    font-size: 14px;
    letter-spacing: 3px;
  }
}

.side-bar-left {
  position: fixed;
  left: 0;
  z-index: 10;
  display: flex;
  height: calc(100vh - 40px);
  width: 40px;
  align-items: center;
  background-color: white;
  transition: width 200ms ease-in-out;
}

.menu-container {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 11;
  display: flex;
  height: 50px;
  width: 48px;
  margin-left: 28px;
  align-items: center;
  &:hover + .side-bar-left {
    width: 100px !important;
  }
  .menu {
    position: fixed;
    z-index: 5;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 auto;
    &:hover .menu__line--center {
      width: 18px !important;
    }
    &:hover .menu__letter {
      font-weight: 500 !important;
    }
    &:hover .menu__letter--u {
      transform: translateX(21px) translateY(11px) translateZ(0px) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) !important;
    }
    &:hover .menu__letter--n {
      transform: translateX(13px) translateY(1px) translateZ(0px) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) !important;
    }
    &:hover .menu__letter--e {
      transform: translateX(5px) translateY(-9px) translateZ(0px) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) !important;
    }
    &:hover .menu__letter--m {
      transform: translateX(-3px) translateY(-19px) translateZ(0px)
        rotateX(0deg) rotateY(0deg) rotateZ(0deg) !important;
    }
    .menu__lines {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .menu__line {
        position: relative;
        width: 26px;
        height: 2px;
        background-color: #000;
      }
      .menu__line--top {
        margin-bottom: 6px;
      }
      .menu__line--center {
        transition: width 200ms ease-in-out;
      }
      .menu__line--bottom {
        margin-top: 6px;
      }
    }
    .menu__letters {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      margin-left: 12px;
      justify-content: center;
      align-items: center;
      flex: 0 auto;
      .menu__letter {
        font-size: 11px;
        margin-bottom: -10px;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        flex: 0 auto;
        transform-style: preserve-3d;
        transition: transform 200ms ease 0s, opacity 200ms ease 0s;
        transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg)
          rotateY(0deg) rotateZ(-90deg);
      }
      .menu__letter:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 0;
  visibility: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .navigation {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f8f8f8;
    flex: 0 auto;
    padding: 10rem 0 20vh 0;
    position: relative;
    flex-direction: column;
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    counter-reset: menucounter;
    .navigation__item {
      flex: none;
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding-left: 5rem;
      &:before {
        counter-increment: menucounter;
        content: counters(menucounter, ".", decimal-leading-zero);
        position: absolute;
        left: 0;
        border-left: 3px solid #000;
        top: 20%;
        height: 60%;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        line-height: 1;
        font-weight: bold;
        opacity: 0;
        transform: translateX(-1rem);
        transition: transform 0.3s, opacity 0.3s;
      }
      &:hover::before {
        opacity: 1;
        transform: translateX(0);
      }
      &:hover .navigation__item--textinner {
        color: red;
      }
      &:hover .menu__item-sub {
        opacity: 1;
        transform: translateX(0);
      }
      &:hover .menu__item-sub::before {
        transform: rotate(22.5deg) scale3d(1, 1, 1);
      }
      .navigation__item--text {
        position: relative;
        cursor: pointer;
        padding: 0.5rem;
        display: block;
        overflow: hidden;
        font-size: 6vw;
        line-height: 100%;
        .navigation__item--textinner {
          display: block;
          font-family: "Goldenbook", serif;
          font-weight: 300;
          text-transform: uppercase;
          white-space: nowrap;
          color: #000;
        }
      }
      .navigation__item--sub {
        display: none;
        text-transform: uppercase;
        font-weight: bold;
        white-space: nowrap;
        align-items: center;
        position: relative;
        margin-left: 2rem;
        padding-left: 3rem;
        opacity: 0;
        transform: translateX(-1rem);
        transition: transform 0.3s, opacity 0.3s;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 15%;
          width: 1px;
          height: 70%;
          background: #000;
          transform-origin: 0 100%;
          transform: rotate(22.5deg) scale3d(1, 0, 1);
          transition: transform 0.3s;
        }
      }
      .hover-reveal {
        position: absolute;
        z-index: -1;
        width: 220px;
        height: 320px;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        .hover-reveal__inner {
          overflow: hidden;
          width: 100%;
          height: 100%;
          position: relative;
          .hover-reveal__img {
            background-size: cover;
            background-position: 50% 50%;
            width: 100%;
            height: 100%;
            position: relative;
          }
        }
      }
    }
  }
}
.active {
  width: 100%;
  visibility: visible;
}
// Update below
.js .menu__item-textinner {
  transform: translateY(100%);
}

.side-bar-right {
  position: fixed;
  right: 0;
  z-index: 10;
  height: calc(100vh - 40px);
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  .logo-social {
    margin-top: 10px;
    width: 25px;
    height: 25px;
    transition: transform 200ms ease-out;
  }
  .logo-social-linkedin {
    width: 30px;
    height: 30px;
    transition: transform 200ms ease-out;
  }
  .logo-social:hover,
  .logo-social-linkedin:hover {
    transform: scaleX(1.2) scaleY(1.2);
    filter: drop-shadow(0px 0px 4px rgba($color: #000, $alpha: 0.15));
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.main-container {
  background-color: #f8f8f8;
  display: block;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
}

.home-hero {
  position: relative;
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  margin: 40px 40px -40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  animation: fadeIn 0.8s ease-out;
  .home-hero__title {
    text-transform: uppercase;
    font-family: serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 100%;
    color: #f8f8f8;
    margin: 0;
  }
  .home-hero__subtitle {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 100%;
    color: #f8f8f8;
    margin-top: 20px;
  }
  .home-hero__arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10px;
    display: flex;
    transform: rotate(90deg);
    animation: loop 1s ease-in-out infinite alternate;
    &::before {
      content: "";
      position: absolute;
      background-color: white;
      width: 2px;
      height: 30px;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      background-color: white;
      bottom: 20px;
      width: 2px;
      height: 30px;
      transform: rotate(-45deg);
    }
  }
}

@keyframes loop {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.main-container--project {
  margin-top: 0;
}

.section {
  display: block;
  max-width: 1140px;
  padding: 80px 0;
  margin-right: auto;
  margin-left: auto;
  #section-about,
  #section-skill,
  #section-work,
  #section-company,
  #section-legal {
    margin-bottom: 32px;
  }
  .section-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
  }
  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    .about-img-container {
      width: 50%;
      margin-top: 84px;
      margin-right: 56px;
      flex: 0 auto;
      img {
        border: 0;
        min-width: 90%;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
      }
    }
    @media (max-width: 991px) {
      .about-img-container {
        margin-top: 0;
        width: 50%;
      }
    }
    .about-content {
      width: 50%;
      .p-large {
        font-size: 24px;
        line-height: 40px;
        font-weight: 300;
        .text-span-24 {
          font-weight: 500;
        }
      }
      @media screen and (min-width: 1000px) and (max-width: 1300px) {
        .p-large {
          font-size: 20px;
          line-height: 36px;
        }
      }
      @media (max-width: 991px) {
        .p-large {
          font-size: 20px;
          line-height: 36px;
        }
      }
    }
    @media (max-width: 991px) {
      .about-content {
        width: 100%;
      }
    }
  }
  @media (max-width: 991px) {
    .about-container {
      flex-direction: column;
    }
  }
}
@media (max-width: 991px) {
  .section {
    padding: 65px 0;
  }
}

.section--mobile {
  padding-bottom: 0px;
}

.section--mobileTop {
  padding-top: 0px;
}

.main-headline {
  margin-bottom: 32px;
  margin-left: -45px;
  .main-headline__headline {
    display: block;
    color: #000;
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
  }
  @media screen and (min-width: 1000px) and (max-width: 1300px) {
    .main-headline__headline {
      font-size: 40px;
      line-height: 56px;
    }
    .main-headline__headline--small {
      font-size: 36px !important;
      line-height: 50px;
    }
  }
  @media (max-width: 991px) {
    .main-headline__headline {
      font-size: 29px;
      line-height: 38px;
    }
    .main-headline__headline--small {
      font-size: 26px !important;
      line-height: 32px;
    }
  }
  .main-headline__headline--right-aligned {
    text-align: end;
  }
  .main-headline__headline--small {
    font-size: 42px;
  }
  .main-headline__separator {
    display: block;
    width: 70px;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgba(0, 97, 243, 1) 0%,
      rgba(0, 243, 210, 1) 100%
    );
    margin-top: 15px;
  }
}
@media (max-width: 991px) {
  .main-headline--offset {
    margin-top: -312px;
    margin-bottom: 145px;
    margin-left: 44%;
  }
}

.main-headline--center {
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
}
.main-headline--left {
  margin-left: 0;
}
.main-headline__separator--center {
  margin-right: auto;
  margin-left: auto;
}
.main-headline__separator--right {
  margin-left: calc(100% - 70px);
}

.separator-dashes {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  .separator-dash-line {
    width: 15px;
    height: 1px;
    margin-left: -4px;
    background-image: linear-gradient(180deg, #000, #000);
    transform: rotate(-45deg);
  }
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  flex: 1;
  margin: 40px 0;
  padding: 0 80px;
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: white;
    max-width: 300px;
    min-width: 250px;
    margin: 16px;
    padding: 32px 0;
    .skill-img {
      position: relative;
      width: 140px;
      height: 140px;
      margin-bottom: 16px;
      img {
        object-fit: cover;
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
    .skill-title {
      margin-top: 8px;
      margin-bottom: 8px;
      color: #000;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .skill-separator {
      display: block;
      width: 50px;
      height: 1px;
      background: #000;
      margin-bottom: 20px;
    }
    .skill-bullet {
      margin-bottom: 8px;
      margin-top: 0;
      color: #000;
      font-size: 20px;
      line-height: 36px;
      font-weight: 300;
    }
  }
}

.case-container {
  display: flex;
  justify-content: space-around;
  .case-container-content {
    position: relative;
    width: 40%;
    margin-right: -80px;
    margin-left: 0;
    align-items: flex-end;
    flex: 0 auto;
    .light-header {
      text-align: right;
      font-weight: 300;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    @media (max-width: 991px) {
      .light-header {
        font-size: 10px;
        line-height: 18px;
        text-align: right;
        letter-spacing: 3px;
      }
    }
    .light-header--left {
      text-align: left;
    }
  }
  @media (max-width: 991px) {
    .case-container-content {
      margin-left: -20px;
    }
  }
  .case-container-img {
    position: relative;
    width: 65%;
    height: 85%;
    max-width: 150%;
    margin-left: 5%;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1300px) {
    .case-container-img:nth-child(2n + 1) {
      left: -7%;
    }
    .case-container-img:nth-child(2n) {
      left: 7%;
    }
    .case-container-img {
      width: 60%;
    }
  }
  @media (max-width: 991px) {
    .case-container-img:nth-child(2n + 1) {
      margin-left: -56px;
    }
    .case-container-img:nth-child(2n) {
      margin-left: 56px;
    }
    .case-container-img--right img {
      top: 15px;
      max-width: 170%;
      margin-left: 56px;
      border: 0;
      vertical-align: middle;
      display: inline-block;
    }
    .case-container-img img {
      top: 15px;
    }
  }

  .btn-container {
    height: 49px;
    width: 185px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: calc(100% - 185px);
    &:hover .btn-bg {
      width: 100%;
    }
    &:hover .btn-content {
      color: white;
    }
    .btn-bg {
      position: static;
      width: 1px;
      height: 48px;
      background: linear-gradient(
        90deg,
        rgba(0, 97, 243, 1) 0%,
        rgba(0, 243, 210, 1) 100%
      );
      transition: width 150ms ease 0s;
    }
    .btn-content {
      position: relative;
      top: -34px;
      width: 185px;
      padding: 13px 32px 12px;
      border: 2px solid #784cd6;
      border-image: linear-gradient(
        90deg,
        rgba(0, 97, 243, 1) 0%,
        rgba(0, 243, 210, 1) 100%
      );
      border-image-slice: 1;
      background-color: transparent;
      transition: color 0.2s ease;
      color: #000;
      line-height: 20px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
  .btn-container--left {
    margin-right: calc(100% - 185px);
    margin-left: 0;
  }
}

.contact-container {
  display: block;
  margin-bottom: 80px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  &:hover .contact-email-underline {
    width: 100%;
  }
  .p-contact {
    display: block;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  .contact-email-underline {
    width: 0;
    height: 4px;
    background-image: linear-gradient(
      90deg,
      rgba(0, 97, 243, 1) 0%,
      rgba(0, 243, 210, 1) 100%
    );
    text-align: left;
    transition: width 0.3s ease-in-out;
  }
}

.p-center {
  display: block;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 40px;
  p {
    color: #000;
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
  }
}

.companies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: flex-start;
  flex: 1;
  margin: 40px 0;
  padding: 0 80px;
  .company {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 200px;
    min-width: 150px;
    margin: 16px;
    img {
      filter: grayscale(0.9);
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        filter: grayscale(0);
        transition: filter 0.15s ease-in-out;
      }
    }
  }
}

footer {
  display: flex;
  padding: 40px 0;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  a {
    text-decoration: underline;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    &:hover {
      color: #000;
    }
  }
}

.project-banner {
  position: relative;
  .project-banner__content {
    width: 100%;
    height: 500px;
    transform: scaleX(0);
    transform-origin: left;
    animation: reveal 0.6s ease-in-out forwards;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgb(0, 57, 143);
      background: linear-gradient(
        90deg,
        rgba(0, 97, 243, 1) 0%,
        rgba(0, 243, 210, 1) 100%
      );
      z-index: 20;
      animation: reveal 0.6s reverse forwards;
      animation-delay: 0.6s;
      transform-origin: right;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #fond-uchf {
      object-position: 0% 37%;
    }
    #fond-multi {
      object-position: 0% 88%;
    }
    #fond-vgb {
      object-position: 0% 6%;
    }
    .project-title {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        line-height: 60px;
        color: white;
        height: 100%;
        font-weight: 600;
      }
      .text-center {
        text-align: center;
      }
    }
  }
}

@keyframes reveal {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.project-container {
  .project-information {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1;
    padding: 20px 80px;
    .project-information__content {
      height: 100%;
      min-width: 150px;
      max-width: 250px;
      margin: 10px 40px;
      .project-information__container-header {
        overflow: hidden;
        height: 64px;
        .project-information__header {
          font-size: 32px;
          display: block;
          color: #000;
          line-height: 64px;
          font-weight: 500;
        }
      }
      .project-information__information {
        display: block;
        color: #000;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.7rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        img {
          width: 45px;
          height: 45px;
          padding: 5px;
        }
      }
    }
  }
}

.project-concept {
  display: flex;
  .project-concept__img {
    width: 50%;
    height: 85%;
    max-width: 150%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 991px) {
    .project-concept__img {
      width: 90%;
    }
  }
  .project-concept__content {
    width: 50%;
    margin-left: 20px;
    .project-concept__info {
      color: #000;
      font-size: 18px;
      line-height: 32px;
      font-weight: 300;
    }
  }
  @media (max-width: 991px) {
    .project-concept__content {
      width: 100%;
    }
  }
}
@media (max-width: 991px) {
  .project-concept {
    align-items: center;
    flex-direction: column;
  }
}

.project-concept--mobile {
  margin-top: 80px;
  .project-concept__img--mobile img {
    position: relative;
    top: -100px;
    width: 70%;
    margin-left: 20px;
  }
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  div:first-child {
    z-index: 9;
  }
  .project-img {
    position: relative;
    width: 80%;
    height: 500px;
    object-fit: cover;
    box-shadow: 40px 50px 30px rgba(0, 0, 0, 0.1);
  }
  .project-img--1 {
    left: 20%;
  }
  .project-img--2 {
    top: 80px;
    right: 50px;
    z-index: 1;
  }
}

.p-legal {
  display: block;
  max-width: 660px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  strong {
    font-weight: 600;
    font-size: 21px;
  }
}

.project-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .project-nav__next {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &:hover img {
      transform: translateX(13px) rotate(-90deg);
    }
    img {
      transform: rotate(-90deg);
      transition: 0.2s ease-in-out;
    }
  }
  .project-nav__prev {
    &:hover img {
      transform: translateX(-13px) rotate(90deg);
    }
    img {
      transform: rotate(90deg);
      transition: 0.2s ease-in-out;
    }
  }

  .project-nav__prev img,
  .project-nav__next img {
    max-width: 30px;
    width: 100%;
  }
  .project-nav__prev p,
  .project-nav__next p {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0;
  }
}
